.o-steps{
  .ant-steps-head{
    background: transparent;
  }
  .ant-steps-title{
    background: transparent;
  }

  &--has-side.ant-steps-vertical {
    padding-left:80px;

    .ant-steps-main{
      min-height: 56px;

    }
  }

  &__side-item {
    position: absolute;
    left: -80px;
    top:0;
    width: 80px;
    padding-right:16px;
    text-align: right;
    line-height: 1;

    h3{
      line-height:1.5;
    }
  }

  &__item{
    position: relative;
  }
}


.ant-steps-label-vertical {
  .ant-steps-tail {
    padding: 0 32px;
  }
  .ant-steps-item {
    .ant-steps-step {
      display: inline-block;
      text-align: center;
    }
  }
  .ant-steps-item:not(:first-child) .ant-steps-head {
    margin-left: 0;
    padding-left: 0;
  }
  .ant-steps-head {
    display: inline-block;
    padding-right: 10px;
    &-inner {
      margin: 0 auto;
    }
  }
  .ant-steps-main {
    display: block;
    margin-top: 10px;
    .ant-steps-title {
      padding-right: 0;
    }
    .ant-steps-description {
      text-align: left;
    }
  }
}

.ant-steps-vertical .ant-steps-main{
  overflow: visible;
  padding-left: 40px;
}