{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    "add-module-exports",
    "transform-runtime",
    ["module-resolver", {
      "root": ["./src/components"]
    }],
    ["import", [
      { "libraryName": "antd", "libraryDirectory": "./"},
      { "libraryName": "ibos", "libraryDirectory": "./"}
    ]]
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    },
    "build":{
      "plugins": ["transform-remove-console"]
    }
  }
}