{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    "add-module-exports",
    "transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    },
    "development": {
      "plugins": [
        [
          "module-resolver",
          {
            "root": [
              "./src/components"
            ]
          }
        ],
        [
          "import",
          [
            {
              "libraryName": "antd",
              "libraryDirectory": "./"
            },
            {
              "libraryName": "ibos",
              "libraryDirectory": "./"
            }
          ]
        ]
      ]
    },
    "build": {
      "plugins": [
        "transform-remove-console",
        [
          "module-resolver",
          {
            "root": [
              "./src/components/"
            ],
            "alias": {
              "antd": "./src/components/antd",
              "ibos": "./src/components/ibos"
            }
          }
        ],
        [
          "import",
          [
            {
              "libraryName": "antd",
              "libraryDirectory": "antd"
            },
            {
              "libraryName": "ibos",
              "libraryDirectory": "ibos"
            }
          ]
        ]
      ]
    }
  }
}