.o-dropdown-multi-col {
    display: table;
    width: 100%;

  .ant-dropdown-menu-item{
    display: table-row;
  }
  p{
    display: table-cell;
    padding:6px 12px;

    border-top:1px solid #eee;
  }
  .ant-dropdown-menu-item-disabled {
    background-color: #F5F5F5;
    color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  
  .ant-dropdown-menu-item-selected{
    background-color: #eaf8fe;
  }

}
